flows.json
[{"id":"d3743c44.12d1a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"d3743c44.12d1a","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"25d36d97.444f12","type":"inject","z":"d3743c44.12d1a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":220,"wires":[["1f12a98.43d3057"]]},{"id":"1f12a98.43d3057","type":"debug","z":"d3743c44.12d1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]}]