flows.json
[{"id":"a697a14b.51a02","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"a697a14b.51a02","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"22ad0a35.918106","type":"inject","z":"a697a14b.51a02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["58320efc.a6178"]]},{"id":"58320efc.a6178","type":"debug","z":"a697a14b.51a02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":200,"wires":[]}]